.moderador-message {
  margin-top: 10px;
  padding-top: 10px;
}

.moderador-message:not(:first-child) {
  border-top: 1px solid #e7e7e7;
}

.moderador-message-details {
  margin-left: 10px;
}

.moderador-profile-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

h1 {
  font-size: 40px;
}

table {
  text-align: center;
  /*font-size: 50px;*/
}

tbody .grande {
  font-size: 45px;
}

tbody .mediano {
  font-size: 20px;
}
/*.inline-block{
  display: inline-block;
  text-align: center !important;
}
.block{
  display: block;
  text-align: center !important;
}*/
