<section class="row" ng-controller="PasswordController">
  <h3 class="col-md-12 text-center">{{ 'Restore_password' | translate }}</h3>
  <p class="small text-center">{{ 'Enter_account_username' | translate }}</p>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-5 col-md-2">
    <form name="forgotPasswordForm" ng-submit="askForPasswordReset(forgotPasswordForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="{{ 'Username' | translate }}" lowercase required>
          <div ng-messages="forgotPasswordForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'Enter_username' | translate }}</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">{{ 'Submit' | translate }}</button>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong ng-bind="success"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
