<section class="row text-center">
  <h3 class="col-md-12">{{ 'Password_successfully_reset' | translate }}</h3>
  <a ui-sref="home" class="col-md-12">{{ 'Continue_home_page' | translate }}</a>
</section>
