<section class="row text-center">
  <h3 class="col-md-12">{{ 'Password_reset_invalid' | translate }}</h3>
  <a ui-sref="password.forgot" class="col-md-12">{{ 'Ask_new_password' | translate }}</a>
</section>
