<section>
  <div class="page-header">
    <h1><button class="btn btn-primary" ui-sref="admin.users()"><i class="glyphicon glyphicon-arrow-left"></i> {{ 'Back_Users_List' | translate }}</button> {{ 'User' | translate }} <span ng-bind="user.username"></span></h1>
  </div>
  <div class="col-md-12">
    <form name="userForm" ng-submit="update(userForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">{{ 'First_Name' | translate }}</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="{{ 'First_Name' | translate }}" required />
          <div ng-messages="userForm.firstName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">{{ 'First_Name_required' | translate }}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">{{ 'Last_Name' | translate }}</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="{{ 'Last_Name' | translate }}" required />
          <div ng-messages="userForm.lastName.$error" role="alert">
              <p class="help-block error-text" ng-message="required">{{ 'Last_Name_required' | translate }}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="roles">{{ 'Roles' | translate }}</label>
          <div class="controls">
              <input class="form-control" type="text" name="roles" ng-model="user.roles" id="roles" ng-list required />
              <div ng-messages="userForm.roles.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">{{ 'Roles_required' | translate }}</p>
              </div>
          </div>
        </div>
          <div class="form-group" show-errors>
              <label class="control-label" for="roles">{{ 'Puntos' | translate }}</label>
              <div class="controls">
                  <input class="form-control" type="checkbox" name="player" ng-model="user.player" id="player"  />
              </div>
          </div>
        <div class="form-group" show-errors>
          <label for="user.country">{{ 'Country' | translate }}</label>
          <ui-select ng-model="user.country" theme="bootstrap" ng-disabled="false" reset-search-input="false" style="width: 300px;" title="{{ 'Country_Select' | translate }}">
              <ui-select-match placeholder="{{ 'Country_Select' | translate }}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="country in countries | filter: $select.search">
                <span ng-bind-html="country.name | highlight: $select.search"></span>
                <!-- <small ng-bind-html="country.code | highlight: $select.search"></small> -->
              </ui-select-choices>
            </ui-select>
          <div ng-messages="userForm.user.country.$error" role="alert">
              <p class="help-block error-text" ng-message="required">{{ 'Country_required' | translate }}</p>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="{{ 'Update' | translate }}" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
