<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>{{ 'Users' | translate }}</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="{{ 'Search' | translate }}" ng-change="figureOutItemsToDisplay()" />
      </div>
        <div class="col-md-4" style="margin-top: 2em">
            <a href="/authentication/signup" class="btn btn-success" value="Adicionar" placeholder="{{ 'Add' | translate }}" >Adicionar Usuario</a>
        </div>
    </div>
  </div>
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><input type="checkbox"></input></th>
        <th>{{ 'First_Name' | translate }}</th>
        <th>{{ 'Last_Name' | translate }}</th>
        <th>{{ 'Email' | translate }}</th>
        <th>{{ 'Country' | translate }}</th>
        <th>{{ 'Roles' | translate }}</th>
        <th>{{ 'Actions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="user in pagedItems" ng-class="{danger: !esConcursante(user.roles)}">
        <td><input type="checkbox" id="user._id"></input></td>
        <td ng-bind="user.firstName"></td>
        <td ng-bind="user.lastName"></td>
        <td ng-bind="user.email"></td>
        <td ng-bind="user.country.name"></td>
        <td ng-bind="user.roles"></td>
        <td>
          <a class="btn" ng-show="!esConcursante(user.roles)" data-ng-click="convertirEnConcursante(user)">
            <i class="glyphicon glyphicon-retweet"></i> {{ 'Convert_contestant' | translate }}
          </a>
          <a class="btn" ui-sref="admin.user-edit({userId: user._id})">
            <i class="glyphicon glyphicon-edit"></i> {{ 'Edit' | translate }}
          </a>
          <a class="btn" data-ng-click="remove(user)">
            <i class="glyphicon glyphicon-trash"></i> {{ 'Delete' | translate }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <!-- <div class="list-group">
    <li ng-repeat="user in pagedItems" ui-sref="admin.user({userId: user._id})">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>
      <p class="list-group-item-text" ng-bind="user.email"></p>
    </li>
    <a ng-repeat="user in pagedItems" class="list-group-item">
      <h4 class="list-group-item-heading" ng-bind="user.username"></h4>
      <a class="btn">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
      <p class="list-group-item-text pull-right small" ng-bind="user.roles"></p>

      <p class="list-group-item-text" ng-bind="user.email"></p>
      <span>
        <a class="btn">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn" data-ng-click="remove(event)">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </span>
    </a>
  </div> -->
  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
