<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="user.username"></h1>
      </div>
      <div class="col-md-4">
        <a class="btn btn-primary" ui-sref="admin.users()"><i class="glyphicon glyphicon-arrow-left"></i> {{ 'Back_Users_List' | translate }}</a>
        <a class="btn btn-primary" ui-sref="admin.user-edit({userId: user._id})">
          <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();" ng-if="user._id !== authentication.user._id">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>{{ 'First_Name' | translate }}</strong></div>
        <div class="col-md-6" ng-bind="user.firstName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>{{ 'Last_Name' | translate }}</strong></div>
        <div class="col-md-6" ng-bind="user.lastName"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>{{ 'Email' | translate }}</strong></div>
        <div class="col-md-6" ng-bind="user.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>{{ 'Provider' | translate }}</strong></div>
        <div class="col-md-6" ng-bind="user.provider"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>{{ 'Created' | translate }}</strong></div>
        <div class="col-md-6" ng-bind="user.created"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>{{ 'Roles' | translate }}</strong></div>
        <div class="col-md-6" ng-bind="user.roles"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>{{ 'Country' | translate }}</strong></div>
        <div class="col-md-6" ng-bind="user.country.name"></div>
      </div><hr/>
      <div class="row">
        <div class="col-md-3"><strong>{{ 'Puntos' | translate }}</strong></div>
        <input type="checkbox" disabled class="col-md-6" ng-checked="user.player"/>
      </div>
    </div>
  </div>
</section>
