<!-- The concurso view -->
<section ng-controller="ConcursoController">
  <div style="height: 15px;"></div>
  <!-- Para mostrar el contadro regresivo mientras el concurso no empieza -->
  <div class="row" ng-show="contest_status == 'wait'">
    <div class="col-md-12">
      <!-- <div class="well well-lg">{{ 'Contest_Star_In' | translate }}</div> -->
      <div class="panel panel-default">
        <div class="panel-heading"><h3>{{ 'Contest_Star_In' | translate }}</h3></div>
        <div class="panel-body text-center">
          <ui-knob style="padding:10px; margin:20px;" value="hours" options="kHours"></ui-knob>
          <ui-knob style="padding:10px; margin:20px;" value="minutes" options="kMinutes"></ui-knob>
          <ui-knob style="padding:10px; margin:20px;" value="seconds" options="kSeconds"></ui-knob>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-1 col-xs-1"></div> -->
  </div>
  <!-- Fin del contadro regresivo -->
  <!-- Div para decirle al usuario que atienda al moderador y la explicacion del concurso -->
  <div class="row" ng-show="contest_status == 'start_contest'">
    <div class="col-md-2 col-xs-1"></div>
    <div class="col-md-10 col-xs-10 alert alert-warning" role="alert">
      <p><strong>{{ 'Please_See_Moderator_plase' | translate }}</strong></p>
      <p>{{ 'Please_See_Moderator_important' | translate }}</p>
    </div>
    <div class="col-md-2 col-xs-1"></div>
  </div>
  <!-- Fin del div para decirle al usuario que atienda al moderador y la explicacion del concurso -->
  <!-- Div para mostrar los datos de la pregunta y las opciones a elegir por el usuario -->
  <div class="row" ng-show="contest_status == 'start_question'">
    <div class="col-xs-12 col-md-8">
      <!-- <p><strong>{{ 'Actual_Question' | translate }}:</strong> {{pregunta.title}}</p> -->
      <div class="panel panel-default">
        <div class="panel-heading">{{ 'Options' | translate }}:
          <div class="pull-right hidden-phone">
            <span>{{time_question}} s</span>
          </div>
          </div>
        <div class="panel-body">
          <div class="alert alert-info" role="alert" ng-show="haVotado">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span>{{ 'Vote_Successfully' | translate }}. </span>
            {{ 'Please_See_Moderator_plase' | translate }}
          </div>
          <div ng-repeat="opcion in pregunta.options | orderBy:'-position':reverse=true">
            <ul class="list-group" ng-disabled="haVotado">
              <a href="#" class="list-group-item" ng-disabled="haVotado" ng-class="{active: haVotado && opcion._id == option_selected, disabled: haVotado }" ng-click="responderPregunta(opcion)">
                <div class="pull-right hidden-phone" ng-show="haVotado && opcion._id == option_selected">
                  <i class="glyphicon glyphicon-ok"></i>
                </div>
                {{opcion.name}}
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div style="height: 15px;"></div>
      <div class="alert alert-danger" role="alert" ng-show="value == 0">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span>{{ 'Time_Out' | translate }}. </span>
        {{ 'Waiting_Next_Question' | translate }}
      </div>
    </div>
  </div>
  <!-- Fin del div para mostrar las opciones a elegir -->
  <!-- Div para mostrar despues que finaliza el tiempo si el usuario respondio correctamente -->
  <div class="row" ng-show="contest_status == 'wait_moderation'">
    <div class="col-xs-12 col-md-12">
      <p><strong>{{ 'Waiting_Moderator' | translate }}</strong></p>
      <div class="list-group">
        <p class="list-group-item"></i><i class="glyphicon glyphicon-pencil"></i><strong> {{ 'Actual_Question' | translate }}:</strong> {{pregunta.title}}</p>
        <!--<p class="list-group-item"><i class="glyphicon glyphicon-check"></i><strong> {{ 'Correct_Option' | translate }}:</strong> {{option_correct.name}}</p>-->
        <p class="list-group-item"> <!--ng-class="{'list-group-item-success': msg_votacion.option == 1, 'list-group-item-danger': msg_votacion.option == 2, 'list-group-item-warning': msg_votacion.option == 3 }"--><i class="glyphicon glyphicon-hand-up"></i><strong> {{ 'You_Answer' | translate }}:</strong> {{option_answered.name}} <br><!--<small style="text-align: right !important;">{{msg_votacion.name}}</small></p>-->
        <p class="list-group-item"><i class="glyphicon glyphicon-time"></i><strong> {{ 'Time_Spent' | translate }}:</strong> {{time_answered}} {{ 'Seconds' | translate }}</p>
      </div>
    </div>
  </div>
  <!-- Fin del div para mostrar despues que finaliza el tiempo si el usuario respondio correctamente -->
  <!-- Div para mostrar las estadisiticas del usuario -->
  <div class="row" ng-show="contest_status == 'end_questions'">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        <p><strong>{{ 'Questions_End' | translate }}</strong></p>
        <p>{{ 'Your_Stats' | translate }}</p>
      </div>
      <div class="list-group">
        <p class="list-group-item"><i class="glyphicon glyphicon-eye-open"></i> {{ 'Questions_Total' | translate }}: {{user_stats.correctas + user_stats.incorrectas + user_stats.abstenciones}}</p>
        <p class="list-group-item"><i class="glyphicon glyphicon-ok"></i> {{ 'Answers_Good' | translate }}: {{user_stats.correctas}}</p>
        <p class="list-group-item"><i class="glyphicon glyphicon-remove"></i> {{ 'Answers_Wrong' | translate }}: {{user_stats.incorrectas}}</p>
        <p class="list-group-item"><i class="glyphicon glyphicon-off"></i> {{ 'Answers_Abs' | translate }}: {{user_stats.abstenciones}}</p>
        <p class="list-group-item"><i class="glyphicon glyphicon-time"></i> {{ 'Total_Time_Spent' | translate }}: {{user_stats.tiempo_total}} {{ 'Seconds' | translate }}</p>
        <p class="list-group-item"><i class="glyphicon glyphicon-flash"></i> {{ 'Time_Average' | translate }}: {{user_stats.tiempo_promedio}} {{ 'Seconds' | translate }}</p>
      </div>
    </div>
  </div>
  <!-- Fin del Div para mostrar las estadisiticas del usuario -->
  <!-- Div para mostrar el fin del concurso -->
  <div class="row" ng-show="contest_status == 'end_contest'">
    <div class="col-md-12">
      <div class="alert alert-info" role="alert">
        <p><strong>{{ 'End_Contest' | translate }}</strong></p>
        <p>{{ 'See_You_Soon' | translate }}</p>
      </div>
    </div>
  </div>
  <!-- Fin del Div para mostrar el fin del concurso -->
</section>
