.concurso-message {
  margin-top: 10px;
  padding-top: 10px;
}
.concurso-message:not(:first-child) {
  border-top: 1px solid #e7e7e7;
}
.concurso-message-details {
  margin-left: 10px;
}
.concurso-profile-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
.inline-block {
	display: inline-block;
  text-align: center !important;
  margin: 15px;
  font-size: 30px !important;
}
.inline-block h2 {
  font-size: 40px !important;
}
.block {
	display: block;
	text-align: center !important;
}
.pre {
	text-transform: uppercase;
	text-align: center;
}
a.list-group-item {
    height:auto;
    min-height:45px;
}
a.list-group-item.active small {
    color:#fff;
}