<section ng-controller="PreguntasController" ng-init="findOne()">
  <div class="page-header">
    <h1><button class="btn btn-primary btn-xs" ui-sref="preguntas.list()"><i class="glyphicon glyphicon-arrow-left"></i> {{ 'Back_List_Questions' | translate }}</button> {{ 'Edit_Question' | translate }}</h1>
  </div>
  <div class="col-md-12">
    <form name="preguntaForm" class="form-horizontal" role="form" ng-submit="update(preguntaForm.$valid)" novalidate>
      <div class="form-group">
        <label class="control-label col-sm-4" for="title">{{ 'Title' | translate }}:</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="title" ng-model="pregunta.title" placeholder="{{ 'Title' | translate }}" required>
          <div ng-messages="preguntaForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'Title_required' | translate }}</p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="description">{{ 'Description' | translate }}:</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="description" ng-model="pregunta.description" placeholder="{{ 'Description' | translate }}" cols="20" rows="2" required></textarea>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-4" for="time">{{ 'Time' | translate }}:</label>
        <div class="col-sm-8">
          <input name="time" type="number" ng-model="pregunta.time" id="time" class="form-control" value="30" min="5" step="5" required >
        </div>
      </div>
      <!-- El orden -->
      <div class="form-group">
        <label class="control-label col-sm-4" for="orden">{{ 'Order' | translate }}:</label>
        <div class="col-sm-8">
          <input name="orden" type="number" ng-model="pregunta.order" id="orden" class="form-control" value="30" min="1" step="1" required >
        </div>
      </div>
      <!-- Las opciones -->
      <div class="form-group">
        <label class="control-label col-sm-4" for="time">{{ 'Options' | translate }}:</label>
        <div class="col-sm-8">
          <div class="input-group">
            <input type="text" id="option" ng-model="option" class="form-control">
            <span class="input-group-btn">
              <button class="btn btn-primary" ng-click="addOption()" type="button">{{ 'Add_Option' | translate }}</button>
            </span>
          </div>
          <!-- <div class="col-xs-8"> -->
            <!-- <input type="text" id="option" ng-model="option" class="form-control"> -->
          <!-- </div> -->
          <!-- <div class="col-xs-2"> -->
            <!-- <button type="button" ng-click="addOption()"class="btn btn-primary">Add</button> -->
          <!-- </div> -->
          <div ng-repeat="option in pregunta.options" class="radio">
            <label>
              <input type="radio" ng-checked="option.correct" ng-click="marcarCorrecta(option)" name="optradio">{{option.name}}
            </label>
            <span style="cursor: pointer;" class="label label-danger" ng-click="delOption(option)"><i class="glyphicon glyphicon-remove"></i> {{ 'Del_Option' | translate }}</span>
          </div>
        </div>
      </div>
      <!-- Fin opciones -->
      <!-- Para la imagen -->
      <div class="form-group">
        <label class="control-label col-sm-4" for="imageURL">{{ 'Picture' | translate }}:</label>
        <div class="col-sm-8">
          <div class="form-group text-center">
            <img ng-src="{{pregunta.imageURL}}" class="img-thumbnail user-profile-picture">
          </div>
          <div class="text-center form-group" ng-hide="uploader.queue.length">
            <span class="btn btn-default btn-file">
                {{ 'Select_Image' | translate }} <input type="file" nv-file-select uploader="uploader" ng-model="pregunta.imageURL">
            </span>
          </div>
          <div class="text-center form-group" ng-show="uploader.queue.length">
            <button class="btn btn-primary" ng-click="uploadPicture();">{{ 'Upload' | translate }}</button>
            <button class="btn btn-default" ng-click="cancelUpload();">{{ 'Cancel' | translate }}</button>
          </div>
          <div ng-show="success" class="text-center text-success">
            <strong>{{ 'Picture_Saved_Successfully' | translate }}</strong>
          </div>
          <div ng-show="error" class="text-center text-danger">
            <strong ng-bind="error"></strong>
          </div>
        </div>
      </div>
      <!-- Fin imagen -->
      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
          <button type="submit" class="btn btn-default">{{ 'Submit' | translate }}</button>
        </div>
      </div>
    </form>
    <!-- <form name="preguntaForm" class="form-horizontal" ng-submit="update(preguntaForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label for="title">Title</label>
          <input name="title" type="text" ng-model="pregunta.title" id="title" class="form-control" placeholder="Title" required>
          <div ng-messages="preguntaForm.title.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Pregunta title is required.</p>
          </div>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea name="content" ng-model="pregunta.content" id="content" class="form-control" cols="30" rows="10" placeholder="Content"></textarea>
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form> -->
  </div>
</section>
