<section ng-controller="PreguntasController" ng-init="find()">
    <div class="page-header">
        {{ 'Date' | translate }}
            <input type="datetime" name="startdate" ng-model="startdate.date">
            <button type="button" class="btn btn-info btn-sm" ng-click="changeDate()"> <i class="glyphicon glyphicon-calendar"></i> {{ 'Change' | translate }}</button>
            <button type="button" class="btn btn-info btn-sm" ng-click="restartServer()"> <i class="glyphicon glyphicon-refresh"></i> {{ 'Restart' | translate }}</button>
    </div>
  <div class="page-header">
    <h1>{{ 'Questions' | translate }} <button type="button" class="btn btn-info btn-sm" ui-sref="preguntas.create()"> <i class="glyphicon glyphicon-plus-sign"></i> {{ 'Add_Question' | translate }}</button></h1>
  </div>
  <div class="row">
    <div class="col-md-12" ng-repeat="pregunta in preguntas">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>{{pregunta.title}}</strong>
          <div class="pull-right hidden-phone">
            <button class="btn btn-primary btn-xs" ui-sref="preguntas.edit({preguntaId: pregunta._id})"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="btn btn-primary btn-xs" ng-click="remove(pregunta);"><i class="glyphicon glyphicon-remove"></i></button>
          </div>
        </div>
        <div class="panel-body">
          <figure class="pull-left">
            <img style="height: 140px !important; width: 164px !important; margin-right: 10px;" class="media-object img-rounded img-responsive" ng-src="{{pregunta.imageURL}}" alt="{{pregunta.title}}" >
          </figure>
          <p><strong>{{ 'Description' | translate }}:</strong> {{pregunta.description}}</p>
          <p><strong>{{ 'Time' | translate }}:</strong> {{pregunta.time}}</p>
          <p><strong>{{ 'Order' | translate }}:</strong> {{pregunta.order}}</p>
          <p><strong>{{ 'Options' | translate }}:</strong> <span ng-bind="printOpciones(pregunta.options)"></span></p>
          <p><strong>{{ 'Answers' | translate }}:</strong> {{pregunta.answers.length}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning text-center" ng-if="preguntas.$resolved && !preguntas.length">
    No preguntas yet, why don't you <a ui-sref="preguntas.create">create one</a>?
  </div>
</section>
