<section ng-controller="PreguntasController" ng-init="findOne()">
  <div class="page-header">
    <h1 ng-bind="pregunta.title"></h1>
  </div>
  <div class="pull-right" ng-show="authentication.user._id == pregunta.user._id">
    <a class="btn btn-primary" ui-sref="preguntas.edit({preguntaId: pregunta._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="pregunta.created | date:'mediumDate'"></span>
      by
      <span ng-bind="pregunta.user.displayName"></span>
    </em>
  </small>
  <p class="lead">Orden: <span class="lead" ng-bind="pregunta.order"></span></p>
  <p class="lead" ng-bind="pregunta.description"></p>
  <p class="lead">Opciones</p>
  <ul ng-repeat="option in pregunta.options">
    <li>
      <label><input type="radio" ng-checked="option.correct" name="optradio">{{option.name}}</label>
    </li>
  </ul>
  <p class="lead" ng-bind="pregunta.questions"></p>
  <p class="lead" ng-bind="pregunta.time"></p>

  <img ng-src="{{pregunta.imageURL}}" />
</section>
