<section class="row" ng-controller="ChangePasswordController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="passwordForm" ng-submit="changeUserPassword(passwordForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="currentPassword">{{ 'Current_Password' | translate }}</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="passwordDetails.currentPassword" placeholder="{{ 'Current_Password' | translate }}" required>
          <div ng-messages="passwordForm.currentPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'Current_Password_reqquired' | translate }}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="newPassword">{{ 'New_Password' | translate }}</label>
          <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="passwordDetails.newPassword" placeholder="{{ 'New_Password' | translate }}" required>
          <div ng-messages="passwordForm.newPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'New_Password_required' | translate }}</p>
            <div ng-repeat="passwordError in passwordErrors">
              <p class="help-block error-text" ng-show="passwordForm.newPassword.$error.requirements">{{ passwordError | translate }}</p>
            </div>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="verifyPassword">{{ 'Verify_Password' | translate }}</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="{{ 'Verify_Password' | translate }}" password-verify="passwordDetails.newPassword" required>
          <div ng-messages="passwordForm.verifyPassword.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'Verify_Password_required' | translate }}</p>
            <p class="help-block error-text" ng-show=passwordForm.verifyPassword.$error.passwordVerify>{{ 'Passwords_do_not_match' | translate }}</p>
          </div>
        </div>
        <!-- <div class="form-group" ng-show="!passwordForm.newPassword.$error.required">
          <label>{{ 'Password_Requirements' | translate }}</label>
          <progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>
        </div> -->
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">{{ 'Save_Password' | translate }}</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>{{ 'Password_Changed_Successfully' | translate }}</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
