<section class="row" ng-controller="EditProfileController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="updateUserProfile(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="firstName">{{ 'First_Name' | translate }}</label>
          <input type="text" id="firstName" name="firstName" class="form-control" ng-model="user.firstName" placeholder="{{ 'First_Name' | translate }}" required>
          <div ng-messages="userForm.firstName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'First_Name_required' | translate }}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="lastName">{{ 'Last_Name' | translate }}</label>
          <input type="text" id="lastName" name="lastName" class="form-control" ng-model="user.lastName" placeholder="{{ 'Last_Name' | translate }}" required>
          <div ng-messages="userForm.lastName.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'Last_Name_required' | translate }}</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label for="email">{{ 'Email' | translate }}</label>
          <input ng-disabled="true" type="email" id="email" name="email" class="form-control" ng-model="user.email" placeholder="{{ 'Email' | translate }}" lowercase required>
          <div ng-messages="userForm.email.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'Email_required' | translate }}</p>
            <p class="help-block error-text" ng-message="email">{{ 'Email_invalid' | translate }}</p>
          </div>
        </div>
        <!-- <div class="form-group" show-errors>
                    <label for="username">{{ 'Username' | translate }}</label>
                    <input type="text" id="username" name="username" class="form-control" ng-model="user.username" placeholder="{{ 'Username' | translate }}" lowercase required>
                    <div ng-messages="userForm.username.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">{{ 'Username_required' | translate }}</p>
                    </div>
                </div> -->
        <!-- <div class="form-group" show-errors>
                    <label>{{ 'Country' | translate }}</label>
                    <input list="browsers" name="myBrowser" />
                    <datalist id="browsers">
                      <option value="Chrome">
                      <option value="Firefox">
                      <option value="Internet Explorer">
                      <option value="Opera">
                      <option value="Safari">
                    </datalist>
                </div> -->
        <div class="form-group" show-errors>
          <label for="user.country">{{ 'Country' | translate }}</label>
          <ui-select ng-model="user.country" theme="bootstrap" ng-disabled="false" reset-search-input="false" style="width: 300px;" title="{{ 'Country_Select' | translate }}">
              <ui-select-match placeholder="{{ 'Country_Select' | translate }}">{{$select.selected.name}}</ui-select-match>
              <ui-select-choices repeat="country in countries | filter: $select.search">
                <span ng-bind-html="country.name | highlight: $select.search"></span>
                <!-- <small ng-bind-html="country.code | highlight: $select.search"></small> -->
              </ui-select-choices>
            </ui-select>
          <div ng-messages="userForm.user.country.$error" role="alert">
              <p class="help-block error-text" ng-message="required">{{ 'Country_required' | translate }}</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">{{ 'Save_Profile' | translate }}</button>
        </div>
        <div ng-show="success" class="text-center text-success">
          <strong>{{ 'Profile_Saved_Successfully' | translate }}</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
