<section ng-controller="SettingsController">
  <div class="page-header">
    <h1>{{ 'Settings' | translate }}</h1>
  </div>
  <div class="row">
    <nav class="col-sm-3 col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li ui-sref-active="active">
          <a ui-sref="settings.profile"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {{ 'Edit_Profile' | translate }}</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="settings.picture"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span> {{ 'Change_profile_picture' | translate }}</a>
        </li>
        <!-- <li ui-sref-active="active" ng-show="user.provider === 'local'">
          <a ui-sref="settings.password">{{ 'Change_Password' | translate }}</a>
        </li> -->
      </ul>
    </nav>
    <div class="col-sm-9 col-md-8 settings-view">
      <div ui-view></div>
    </div>
  </div>
</section>
