<!-- The moderador view -->
<section ng-controller="ModeradorController">
  <div style="height: 15px"></div>
  <!-- Div para mostra el contador antes de iniciar el concurso -->
  <div class="row" ng-show="contest_status == 'wait_start_contest'">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 ng-show="contestInitial">{{ 'Contest_Star_In' | translate }} <div class="pull-right hidden-phone">
            <span>URL del concurso: http://solaci.xoait.com</span>
          </div></h3>
        </div>

        <div class="panel-body text-center">
          <!-- <h2 ng-show="contestInitial">  {{days || "0"}} <span class="label label-default">días</span> {{hours || "0"}} <span
            class="label label-primary">horas</span> {{minutes || "0"}} <span
            class="label label-success">min</span> {{seconds || "0"}} <span
            class="label label-info">seg</span></h2>
          <h2 ng-hide="contestInitial">{{'ATENTION' | translate}}</h2> -->
          <figure class="pull-left">
            <img style="" class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/logo_uci.png" alt="Tools">
          </figure>

          <ui-knob style="padding:10px; margin:20px;" value="hours" options="kHours"></ui-knob>
          <ui-knob style="padding:10px; margin:20px;" value="minutes" options="kMinutes"></ui-knob>
          <ui-knob style="padding:10px; margin:20px;" value="seconds" options="kSeconds"></ui-knob>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default text-center">
        <!-- <div class="panel-heading"><h3>Tiempo restante</h3></div> -->
        <div class="panel-body">
          <img style="" class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/chile.jpg" alt="UCI">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default text-center">
        <!-- <div class="panel-heading"><h3>Tiempo restante</h3></div> -->
        <div class="panel-body">

          <img style="" class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/solaci.jpg" alt="Tools">
        </div>
      </div>
    </div>
  </div>

  <!-- Div a mostrar cuando el concurso esta activo -->
  <div class="row" ng-show="contest_status == 'contest_active'">
    <!--<div class="row">-->
    <div class="col-md-9">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <!-- <div class="panel-heading">Panel heading</div> -->
        <highchart id="chart1" config="barra"></highchart>
        <!-- <div class="panel-body">

        </div> -->

      </div>
      <!-- <div class="panel panel-default">
        <div class="panel-heading">
          <h3>{{preguntaActual.title}}</h3></div>
        <div class="panel-body">
          <h1>{{preguntaActual.description}}</h1>
        </div>
      </div> -->
    </div>
    <div class="col-md-3">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3>{{ 'Left_Time' | translate }}</h3></div>
        <div class="panel-body">
          <ui-knob style="padding:10px;" value="actualTime" options="kTimeQuestion"></ui-knob>
        </div>
      </div>
      <div class="panel panel-default text-center">
        <!-- <div class="panel-body"> -->
          <!-- <ui-knob style="padding:10px;" value="actualTime" options="kTimeQuestion"></ui-knob> -->
          <span style="text-decoration-line: underline; font-size: 500%;" ng-bind="preguntaActual.order || 0"></span><br/>
          <span style="font-size: 320%;" ng-bind="statistics.preguntas || 0"></span>
        <!-- </div> -->
      </div>
    </div>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td class="grande" ng-bind="cant_usuarios_registrados || 0"></td>
                <td class="grande" ng-bind="cant_usuarios_conectados || 0"></td>
                <td class="grande" ng-bind="statistics.respuestas_correctas || 0"></td>
                <td class="grande" ng-bind="statistics.respuestas_incorrectas || 0"></td>
                <td class="grande" ng-bind="statistics.abstenciones || 0"></td>
                <td class="grande" ng-bind="(statistics.tiempo_promedio/1000) || 0"></td>
              </tr>
              <tr>
                <td class="mediano">Usuarios registrados</td>
                <td class="mediano">Usuarios conectados</td>
                <td class="mediano">Respuestas correctas</td>
                <td class="mediano">Respuestas incorrectas</td>
                <td class="mediano">Abstenciones</td>
                <td class="mediano">Tiempo promedio</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del div mientras el concurso esta activo -->

  <!-- Div para mostrar el mensaje de fin de las preguntas -->
  <div class="row" ng-show="contest_status == 'end_questions'">
    <div class="col-md-4">
      <figure class="pull-left" style="margin-left: 20px;">
        <img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/SOLACI_logo.jpg" alt="Imagen solaci" >
      </figure>
    </div>
    <div class="col-md-8">
      <div class="alert alert-info" role="alert" style="margin-top: 20px;">
        <h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ 'Questions_End' | translate }}</h4>
        <br/>
        <h4>{{ 'Thank_You' | translate }}</h4>
        <br/>
        <h4>{{ 'Waiting_Winner' | translate }}</h4>
      </div>
    </div>
    <!-- Div para mostrar las estadisiticas generales por cada pregunta -->
    <!-- <div class="col-md-12">
      <div class="panel panel-default">
        <highchart id="chart1" config="barra"></highchart>
      </div>
    </div> -->
  </div>
  <!-- Fin del Div para mostrar el mensaje de fin de las preguntas -->
  <!-- Div para mostrar el ganador del concurso -->
  <div class="row" ng-show="contest_status == 'winner_contest'">
    <div class="col-xs-1 col-md-4"></div>
    <div class="col-xs-10 col-md-4">
      <div class="thumbnail">
        <img ng-src="{{contest_winner.user.profileImageURL}}" class="img-circle" alt="..." style="height: 256px; width: 256px;">
        <div class="caption">
          <h3 style="text-align: center;"><strong>{{contest_winner.user.displayName}}</strong></h3>
          <p><strong><i class="glyphicon glyphicon-flag"></i> {{ 'Country' | translate }}:</strong> {{contest_winner.user.country.name}}</p>
          <p><strong><i class="glyphicon glyphicon-ok"></i> {{ 'Answers_Good' | translate }}:</strong> {{contest_winner.correctas}}</p>
          <p><strong><i class="glyphicon glyphicon-remove"></i> {{ 'Answers_Wrong' | translate }}:</strong> {{contest_winner.incorrectas}}</p>
          <p><strong><i class="glyphicon glyphicon-off"></i> {{ 'Answers_Abs' | translate }}:</strong> {{contest_winner.abstenciones}}</p>
          <p><strong><i class="glyphicon glyphicon-time"></i> {{ 'Total_Time_Spent' | translate }}:</strong> {{contest_winner.tiempo_total}} {{ 'Seconds' | translate }}</p>
          <p><strong><i class="glyphicon glyphicon-flash"></i> {{ 'Time_Average' | translate }}:</strong> {{contest_winner.tiempo_promedio}} {{ 'Seconds' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-1 col-md-4"></div>
  </div>
  <!-- Fin del div para mostrar el ganador del concurso -->
  <!-- Div para mostrar el fin del concurso -->
  <div ng-show="contest_status == 'end_contest'">
    <div class="row text-center">
      <div class="col-md-3">
        <figure class="pull-left">
          <img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/SOLACI_logo.jpg" alt="Imagen solaci" >
        </figure>
        <div style="height: 15px;"></div>
        <figure class="pull-left">
          <!--<img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/scci.jpg" alt="Imagen scci" >-->
        </figure>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-md-9">
        <div>
          <!-- <figure class="pull-left"> -->
            <img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/concurso_de_imagenes_cardiologia.png" alt="Imagen concurso" >
          <!-- </figure> -->
        </div>
        <div style="height: 15px;"></div>
        <div class="alert alert-warning" role="alert">
          <h4><strong>{{ 'End_Contest' | translate }}</strong></h4>
          <br/>
          <h4>{{ 'See_You_Soon' | translate }}</h4>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del div para mostrar el fin del concurso -->
</section>
