<!-- The moderador view -->
<section ng-controller="ModeradorController">
  <div style="height: 15px"></div>
  <!-- Div para mostra el contador antes de iniciar el concurso -->
  <div class="row" ng-show="contest_status == 'wait_start_contest'">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3>{{ 'Contest_Star_In' | translate }}</h3></div>
        <div class="panel-body text-center">
          <ui-knob style="padding:10px; margin:20px;" value="hours" options="kHours"></ui-knob>
          <ui-knob style="padding:10px; margin:20px;" value="minutes" options="kMinutes"></ui-knob>
          <ui-knob style="padding:10px; margin:20px;" value="seconds" options="kSeconds"></ui-knob>
          <!-- <br> -->
          <button type="button" style="margin-top: 10%;" id="play" class="btn btn-success btn-sm pull-right" ng-disabled="contestInitial" ng-click="startContest()"><i class="glyphicon glyphicon-play"></i> {{ 'Start_Contest' | translate }}</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Div para controlar el concurso, psar preguntas, ver progreso y botones de mostrar ganador y finalizar el concurso -->
  <div class="row" ng-show="contest_status != 'wait_start_contest'">
    <!--<div class="row">-->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>{{ 'Left_Time' | translate }}</strong></div>
        <div class="panel-body text-center">
          <ui-knob value="actualTime" options="kTimeQuestion"></ui-knob>
          <br/>
          <br/>
          <button type="button" class="btn btn-info btn-md" ng-disabled="nextButton" ng-click="nextQuestion()"><i class="glyphicon glyphicon-fast-forward"></i> {{text_Next}}</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong>{{ 'Actual_Question' | translate }}: {{preguntaActual.title}}</strong>
        </div>
        <div class="panel-body text-center">
          <span style="font-size: 850%;" ng-bind="preguntaActual.order || 0"></span>
          <span style="font-size: 750%;"> / </span>
          <span style="font-size: 750%;" ng-bind="statistics.preguntas || 0"></span>
          <div class="progress">
            <div id="progress" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="preguntaActual.order || 0" aria-valuemin="0" aria-valuemax="statistics.preguntas || 0" style="width: 0%">
              <!-- <span class="sr-only">45% Complete</span> -->
            </div>
          </div>
          <!-- <figure class="pull-left">
            <img style="height: 140px !important; width: 164px !important; margin-right: 10px;" class="media-object img-rounded img-responsive" ng-src="{{preguntaActual.imageURL}}" alt="{{imageURL}}">
          </figure>
          <p><strong>{{ 'Description' | translate }}:</strong> {{preguntaActual.description}}</p> -->
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="panel panel-default">
        <!-- <div class="panel-heading"><strong> {{'End_Questions?' | translate}}</strong></div> -->
        <div class="panel-body text-center">
          <div ng-show="contest_status == 'contest_active'">
            <div class="alert alert-danger" role="alert">
              <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
              <span>{{ 'Finish_Questions_msg' | translate }}</span>
            </div>
            <button type="button" class="btn btn-danger" ng-disabled="finalizarRondaPreguntas" ng-click="endQuestions()">{{'End_Questions?' | translate}}</button>
          </div>
          <div ng-show="contest_status == 'end_questions'">
            <div class="alert alert-success" role="alert">{{"WINNER_IS" | translate }} <b>{{winner}}</b></div>
            <button type="button" class="btn btn-info" ng-click="showWinner()">{{'Show_Winner' | translate}}</button>  
          </div>
          <button type="button" ng-show="contestFinal" class="btn btn-warning" ng-click="endContest()">{{'Finish_Contest' | translate}}</button>
          <!-- <img style="!important; width: 100% !important;" class="media-object img-rounded img-responsive" ng-src="{{siguientePregunta.imageURL}}" alt="{{imageURL}}"> -->
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <!-- <div class="panel-body"> -->
          <highchart id="chart1" config="pieChart"></highchart>
        <!-- </div> -->
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="list-group">
          <!-- <p class="list-group-item"><i class="glyphicon glyphicon-question-sign"></i><span class="badge">{{preguntaActual.order || statistics.preguntas}}</span> Pregunta actual:</p>
          <p class="list-group-item"><i class="glyphicon glyphicon-question-sign"></i><span class="badge">{{statistics.preguntas}}</span> Cantidad de preguntas:</p> -->
          <p class="list-group-item"><i class="glyphicon glyphicon-user"></i><span class="badge">{{cant_usuarios_registrados || 0}}</span> Usuarios registrados:</p>
          <p class="list-group-item"><i class="glyphicon glyphicon-user"></i><span class="badge">{{cant_usuarios_conectados || 0}}</span> Usuarios conectados:</p>
          <p class="list-group-item"><i class="glyphicon glyphicon-ok-sign"></i><span class="badge">{{statistics.respuestas_correctas || 0}}</span> Respuestas correctas:</p>
          <p class="list-group-item"><i class="glyphicon glyphicon-remove-sign"></i><span class="badge">{{statistics.respuestas_incorrectas || 0}}</span> Respuestas incorrectas:</p>
          <p class="list-group-item"><i class="glyphicon glyphicon-minus-sign"></i><span class="badge">{{statistics.abstenciones || 0}}</span> Abstenciones:</p>
          <p class="list-group-item"><i class="glyphicon glyphicon-time"></i><span class="badge">{{statistics.tiempo_promedio/1000}}</span> Tiempo promedio:</p>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row" ng-show="contestFinal">
    <div class="col-md-10">
      <div class="alert alert-success" role="alert">{{"WINNER_IS" | translate }} <b>{{winner}}</b></div>
    </div>
    <div class="col-md-2">
      <button type="button" id="play" class="btn btn-danger btn-lgt pull-right" ng-click="endContest()"><i class="glyphicon glyphicon-play"></i> {{ 'END_CONTEST' | translate }}</button>
    </div>
  </div>
  <div class="row" ng-show="contestEnd">
    <button type="button" id="play" class="btn btn-danger btn-lgt pull-right" ng-click="closeContest()"><i class="glyphicon glyphicon-log-out"></i> {{ 'CLOSE_CONTEST' | translate }}</button>
  </div> -->
</section>
