<section ng-controller="PresentacionController">
	<div style="height: 15px"></div>
  <!-- Divs para mostrar el mensaje de bienvenida y el contador regresivo del concurso -->
  <!-- <div class="well well-lg" ng-show="contest_status == 'wait'">{{ 'Welcome_SOLACI' | translate }}</div> -->
  <div ng-show="contest_status == 'wait' || contest_status == 'start_contest'">
    <div class="row text-center">
      <div class="col-md-3">
        <!-- <figure class="pull-left"> -->
          <img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/SOLACI_logo.jpg" alt="Imagen solaci" >
        <!-- </figure> -->
        <div style="height: 40px;"></div>
        <!-- <figure class="pull-left"> -->
          <!--<img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/scci.jpg" alt="Imagen scci" >-->
        <!-- </figure> -->
        <!-- <figure class="pull-left">
          <img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/jornadas-cuba-2016-scai.jpg" alt="Imagen solaci" >
        </figure> -->
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-md-9">
        <div>
          <!-- <figure class="pull-left"> -->
            <img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/concurso_de_imagenes_cardiologia.png" alt="Imagen concurso" >
          <!-- </figure> -->
        </div>
        <div style="height: 15px;"></div>
        <div class="panel panel-default" ng-show="contest_status == 'wait'">
          <!-- <div class="panel-heading"><h4>{{ 'Contest_Star_In' | translate }}</h4></div> -->
          <div class="panel-body text-center">
            <ui-knob style="padding:10px; margin:20px;" value="hours" options="kHours"></ui-knob>
            <ui-knob style="padding:10px; margin:20px;" value="minutes" options="kMinutes"></ui-knob>
            <ui-knob style="padding:10px; margin:20px;" value="seconds" options="kSeconds"></ui-knob>
          </div>
        </div>
        <div ng-show="contest_status == 'start_contest'">
          <div class="alert alert-warning" role="alert">
            <h4><strong>{{ 'Welcome_SOLACI' | translate }}</strong></h4>
            <br/>
            <h4>{{ 'Please_See_Moderator_plase' | translate }}</h4>
            <h4>{{ 'Please_See_Moderator_important' | translate }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin de los divs para mostrar el mensaje de bienvenida y el contador regresivo del concurso -->
  <!-- Div para decirle al usuario que atienda al moderador y la explicacion del concurso -->
  <!-- <div class="row" ng-show="contest_status == 'start_contest'">
    <div class="col-xs-1 col-md-2"></div>
    <div class="col-xs-10 col-md-8 alert alert-warning" role="alert">
      <p><strong>{{ 'Please_See_Moderator_plase' | translate }}</strong></p>
      <p>{{ 'Please_See_Moderator_important' | translate }}</p>
    </div>
    <div class="col-xs-1 col-md-2"></div>
  </div> -->
  <!-- Fin del div para decirle al usuario que atienda al moderador y la explicacion del concurso -->
  <!-- Div para mostrar la imagen a pantalla completa -->
  <div class="row" ng-show="contest_status == 'start_question'">
    <img style="height: 160px; width: 300px;" id="imagenConcurso" class="img-responsive" ng-src="{{imageURL}}" ng-click="fullScreen()" alt="{{imageURL}}" />
  </div>
  <!-- Fin Div para mostrar la imagen a pantalla completa -->
  <!-- Div para mostrar detalles de la imagen que el moderador desee explicar -->
  <div class="row" ng-show="contest_status == 'wait_moderation'">
    <zoom mark-height="100" mark-width="100" ng-src="{{imageURL}}" zoom-lvl="5.3" ></zoom>
  </div>
  <!-- Div para mostrar detalles de la imagen que el moderador desee explicar -->
  <!-- Div para mostrar el mensaje de fin de las preguntas -->
  <div class="row" ng-show="contest_status == 'end_questions'">
    <div class="col-md-4">
      <figure class="pull-left" style="margin-left: 20px;">
        <img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/SOLACI_logo.jpg" alt="Imagen solaci" >
      </figure>
    </div>
    <div class="col-md-8">
      <div class="alert alert-info" role="alert" style="margin-top: 20px;">
        <h4><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ 'Questions_End' | translate }}</h4>
        <br/>
        <h4>{{ 'Thank_You' | translate }}</h4>
        <br/>
        <h4>{{ 'Waiting_Winner' | translate }}</h4>
      </div>
    </div>
  </div>
  <!-- Fin del Div para mostrar el mensaje de fin de las preguntas -->
  <!-- Div para mostrar el ganador del concurso -->
  <div class="row" ng-show="contest_status == 'winner_contest'">
    <div class="col-xs-1 col-md-4"></div>
    <div class="col-xs-10 col-md-4">
      <div class="thumbnail">
        <img ng-src="{{contest_winner.user.profileImageURL}}" class="img-circle" alt="..." style="height: 256px; width: 256px;">
        <div class="caption">
          <h3 style="text-align: center;"><strong>{{contest_winner.user.displayName}}</strong></h3>
          <p><strong><i class="glyphicon glyphicon-flag"></i> {{ 'Country' | translate }}:</strong> {{contest_winner.user.country.name}}</p>
          <p><strong><i class="glyphicon glyphicon-ok"></i> {{ 'Answers_Good' | translate }}:</strong> {{contest_winner.correctas}}</p>
          <p><strong><i class="glyphicon glyphicon-remove"></i> {{ 'Answers_Wrong' | translate }}:</strong> {{contest_winner.incorrectas}}</p>
          <p><strong><i class="glyphicon glyphicon-off"></i> {{ 'Answers_Abs' | translate }}:</strong> {{contest_winner.abstenciones}}</p>
          <p><strong><i class="glyphicon glyphicon-time"></i> {{ 'Total_Time_Spent' | translate }}:</strong> {{contest_winner.tiempo_total}} {{ 'Seconds' | translate }}</p>
          <p><strong><i class="glyphicon glyphicon-flash"></i> {{ 'Time_Average' | translate }}:</strong> {{contest_winner.tiempo_promedio}} {{ 'Seconds' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="col-xs-1 col-md-4"></div>
  </div>
  <!-- Fin del div para mostrar el ganador del concurso -->
  <!-- Div para mostrar el fin del concurso -->
  <div ng-show="contest_status == 'end_contest'">
    <div class="row text-center">
      <div class="col-md-3">
        <figure class="pull-left">
          <img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/SOLACI_logo.jpg" alt="Imagen solaci" >
        </figure>
        <div style="height: 15px;"></div>
        <figure class="pull-left">
          <!--<img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/scci.jpg" alt="Imagen scci" >-->
        </figure>
      </div>
      <div class="clearfix visible-xs-block"></div>
      <div class="col-md-9">
        <div>
          <!-- <figure class="pull-left"> -->
            <img class="media-object img-rounded img-responsive" ng-src="./modules/moderador/client/img/concurso_de_imagenes_cardiologia.png" alt="Imagen concurso" >
          <!-- </figure> -->
        </div>
        <div style="height: 15px;"></div>
        <div class="alert alert-warning" role="alert">
          <h4><strong>{{ 'End_Contest' | translate }}</strong></h4>
          <br/>
          <h4>{{ 'See_You_Soon' | translate }}</h4>
          <br/>
        </div>
      </div>
    </div>
  </div>
  <!-- Fin del div para mostrar el fin del concurso -->
</section>
