<div ng-controller="AuthenticationController">
    <!-- <h3 class="col-md-12 text-center">Or sign up using your email</h3> -->
    <div style="height: 20px"></div>
    <div class="col-xs-8 col-md-offset-4 col-md-4">
        <form name="userForm" ng-submit="signup(userForm.$valid)" class="signin" novalidate autocomplete="off">
            <fieldset>
                <div class="form-group" show-errors>
                    <label for="firstName">{{ 'First_Name' | translate }}</label>
                    <input type="text" id="firstName" name="firstName" class="form-control" ng-model="credentials.firstName" placeholder="{{ 'First_Name' | translate }}" required>
                    <div ng-messages="userForm.firstName.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">{{ 'First_Name_required' | translate }}</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="lastName">{{ 'Last_Name' | translate }}</label>
                    <input type="text" id="lastName" name="lastName" class="form-control" ng-model="credentials.lastName" placeholder="{{ 'Last_Name' | translate }}" required>
                    <div ng-messages="userForm.lastName.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">{{ 'Last_Name_required' | translate }}</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="email">{{ 'Email' | translate }}</label>
                    <input type="email" id="email" name="email" class="form-control" ng-model="credentials.email" placeholder="{{ 'Email' | translate }}" lowercase required>
                    <div ng-messages="userForm.email.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">{{ 'Email_required' | translate }}</p>
                        <p class="help-block error-text" ng-message="email">{{ 'Email_invalid' | translate }}</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="username">{{ 'Username' | translate }}</label>
                    <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="{{ 'Username' | translate }}" lowercase required>
                    <div ng-messages="userForm.username.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">{{ 'Username_required' | translate }}</p>
                    </div>
                </div>
                <div class="form-group" show-errors>
                    <label for="country">{{ 'Country' | translate }}</label>
                    <ui-select ng-model="credentials.country" theme="bootstrap" ng-disabled="false" reset-search-input="false" style="width: 300px;" title="{{ 'Country_Select' | translate }}">
                        <ui-select-match placeholder="{{ 'Country_Select' | translate }}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="country in countries | filter: $select.search">
                            <span ng-bind-html="country.name | highlight: $select.search"></span>
                            <!-- <small ng-bind-html="country.code | highlight: $select.search"></small> -->
                        </ui-select-choices>
                    </ui-select>
                    <div ng-messages="userForm.country.$error" role="alert">
                        <p class="help-block error-text" ng-message="required">{{ 'Country_required' | translate }}</p>
                    </div>
                </div>
                <!--<div class="form-group" show-errors>-->
                    <!--<label for="password">{{ 'Password' | translate }}</label>-->
                    <!--<input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="{{ 'Password' | translate }}" required>-->
                    <!--<div ng-messages="userForm.password.$error" role="alert">-->
                        <!--<p class="help-block error-text" ng-message="required">{{ 'Password_required' | translate }}</p>-->
                        <!--<div ng-repeat="passwordError in passwordErrors">-->
                            <!--<p class="help-block error-text" ng-show="userForm.password.$error.requirements">{{ passwordError | translate }}</p>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group" show-errors>-->
                  <!--<label for="verifyPassword">{{ 'Verify_Password' | translate }}</label>-->
                  <!--<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="passwordDetails.verifyPassword" placeholder="{{ 'Verify_Password' | translate }}" password-verify="credentials.password" required>-->
                  <!--<div ng-messages="userForm.verifyPassword.$error" role="alert">-->
                    <!--<p class="help-block error-text" ng-message="required">{{ 'Verify_Password_required' | translate }}</p>-->
                    <!--<p class="help-block error-text" ng-show=userForm.verifyPassword.$error.passwordVerify>{{ 'Passwords_do_not_match' | translate }}</p>-->
                  <!--</div>-->
                <!--</div>-->
               <!--<div class="form-group" ng-show="!userForm.password.$error.required">-->
                    <!--<label>Password Requirements</label>-->
                    <!--<progressbar value="requirementsProgress" type="{{requirementsColor}}"><span style="color:white; white-space:nowrap;">{{requirementsProgress}}%</span></progressbar>-->
                <!--</div>-->
                <div class="text-center form-group">
                    <button type="submit" class="btn btn-primary">{{ 'Sign_up' | translate }}</button>
                    <!--&nbsp; {{ 'Or' | translate }}&nbsp;-->

                    <!--<a ui-sref="authentication.signin" class="show-signup">{{ 'Sign_in' | translate }}</a>-->

                </div>
                <div ng-show="error" class="text-center text-danger">
                    <strong ng-bind="error"></strong>
                </div>
            </fieldset>
        </form>
    </div>
</div>
