<div ng-controller="AuthenticationController">
  <!-- <h3 class="col-md-12 text-center">Or with your account</h3> -->
  <div style="height: 20px"></div>
  <div class="col-xs-offset-2 col-xs-8 col-md-offset-4 col-md-4">
    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <!-- <div class="form-group" show-errors>
          <label for="username">{{ 'Username' | translate }}</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="{{ 'Username' | translate }}" lowercase required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'Username_required' | translate }}</p>
          </div>
        </div> -->
        <div class="form-group" show-errors>
          <label for="password">{{ 'Password' | translate }}</label>
          <input type="password" id="password" name="password" class="form-control" ng-model="credentials.password" placeholder="{{ 'Password' | translate }}" required>
          <div ng-messages="userForm.password.$error" role="alert">
            <p class="help-block error-text" ng-message="required">{{ 'Password_required' | translate }}</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">{{ 'Sign_in' | translate }}</button>
          <!-- &nbsp; {{ 'Or' | translate }}&nbsp;
          <a ui-sref="authentication.signup">{{ 'Sign_up' | translate }}</a> -->
        </div>
        <!-- <div class="text-center forgot-password">
          <a ui-sref="password.forgot">{{ 'Forgot_password' | translate }}</a>
        </div> -->
        <alert type="danger" ng-show="error" class="text-center text-danger">
          <span ng-bind="error"></span>
        </alert>
      </fieldset>
    </form>
  </div>
</div>
